{{define "custom_script"}}
<script>
$.getJSON("/models/products/{{.ID}}", function( data ) {
/*
	$(".status-product").append(`<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>IPs</th>
				<th>Memory</th>
				<th>Ephemeral Disk</th>
				<th>System Disk</th>
				<th>Persistent Disk</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>`)
*/
	$(".status-product").append(`<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>IPs</th>
				<th>Storage</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>`)

  $.each( data.status, function( key, val ) {

		console.log(val);

		var ipAddresses = "";
		$.each(val.ips, function(k, v) {
			switch (k) {
				case 0:
					ipAddresses = v;
					break;
				default:
					ipAddresses = ", " + v;
					break;
			}
		})

		var mem = "";
		if (!!val.memory) {
			mem = `<dl class="row"><dt class="col-sm-3">Memory</dt><dd class="col-sm-9">` + (val.memory.kb / 1024).toFixed(2)  + ` <small>MB</small> (` + val.memory.percent + `%)</dd>`;
		}

		var edisk = "";
		if (!!val.ephemeral_disk) {
			edisk = `<dt class="col-sm-3">Ephemeral Disk</dt><dd class="col-sm-9"><small>inode</small> ` + val.ephemeral_disk.inode_percent  + `% (` + val.ephemeral_disk.percent + `%)</dd>`;
		}

		var sdisk = "";
		if (!!val.system_disk) {
			sdisk = `<dt class="col-sm-3">System Disk</dt><dd class="col-sm-9"><small>inode</small> ` + val.system_disk.inode_percent  + `% (` + val.system_disk.percent + `%)</dd>`;
		}

		var pdisk = "";
		if (!!val.persistent_disk) {
			pdisk = `<dt class="col-sm-3">Persistent Disk</dt><dd class="col-sm-9"><small>inode</small> ` + val.persistent_disk.inode_percent  + `% (` + val.persistent_disk.percent + `%)</dd></dl></td>`;
		}

		$(".status-product table tbody").append(
			`<tr>
				 <th scope="row">` + val["job-name"] + `<br/><span class="badge badge-pill badge-primary">` + val.cid + `</span></th>
				 <td>` + ipAddresses + `</td>
				 <td>` + mem + edisk + sdisk + pdisk +
			`</tr>`
		);
  });
}).always(function() {
	$(".status-product i").remove();
});
</script>
{{end}}

{{define "contents"}}
<div class="container">
	<div class="row">
		<h3>Product Details <small>{{.ID}}</small></h3>
	</div>
	<div class="row justify-content-md-center status-product">
		<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
	</div>
</div>
{{end}}
