{{define "custom_script"}}
<script>
$.getJSON("/models/releases", function( data ) {
	$(".status-releases").append(`<ul class="list-group col" />`)
  $.each( data, function( key, val ) {
		$(".status-releases ul").append(
			"<li class='list-group-item'>" + val + "</li>"
		);
  });
}).always(function() {
	$(".status-releases i").remove();
});
</script>
{{end}}

{{define "contents"}}
<div class="container">
	<div class="row">
		<h3>Release Details</h3>
	</div>
	<div class="row justify-content-md-center status-releases">
		<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
	</div>
</div>
{{end}}
