{{define "custom_script"}}
<script>
$.getJSON( "/models/vms", function( data ) {
	$(".status-vm-instances").append(`<div class="list-group d-flex col status-instances-root"></div>`)
  $.each( data, function( key, val ) {
		var prod = val.product
		console.log(prod)
		$.each(val.instances, function(stem, vms) {
			console.log(stem)
				$(".status-instances-root").append(
					`<div class="list-group-item list-group-item-action align-items-start">
						<div class="d-flex justify-content-between">
							<h5 class="mb-1">` + prod + `</h5>
							<small><span class="badge badge-primary">` + stem + `</span></small>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
						  <div class="col-sm-9">
								<dl class="row status-instances-` + prod + stem + `">
								</dl>
							</div>
						</div>
					</div>`)

				$.each(vms, function(name, qty) {
					console.log(name)
					$(".status-instances-" + prod + stem).append(
							`<dt class="col-sm-3">` + name + `</dt>
				 			 <dd class="col-sm-9">` + qty + `</dd>`)
			 })
		})
  });
}).always(function() {
	$(".status-vm-instances i").remove();
});
</script>
{{end}}

{{define "contents"}}
<div class="container">
	<div class="row">
		<h3>VM Instances</h3>
	</div>
	<div class="row justify-content-md-center status-vm-instances">
		<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
	</div>
</div>
{{end}}
